@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yeseva+One&display=swap');

html,
body,
#sapper {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: inherit;
}

h1,
h2 {
  margin: 0;
  font-family: 'Yeseva One', cursive;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}
