@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Mukta+Mahee");

html,
body,
#sapper {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Mukta Mahee", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: inherit;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Abril Fatface", cursive;
}

p {
  margin: 0;
}
